$clr--white: white;
$clr--black: black;
$clr--yellow: hsl(51, 100%, 49%);
$clr--yellow-hover: hsl(51, 80%, 80%);
$clr--pink: hsl(7, 99%, 70%);
$clr--gray-blue: hsl(210, 4%, 67%);
$clr--desat-dark-cyan: hsl(167, 40%, 24%);
$clr--dark-blue: hsl(198, 62%, 26%);
$clr--mod-dark-cyan: hsl(168, 34%, 41%);
$clr--desat-dark-blue: hsl(212, 27%, 19%);
$clr--very-dark-gray-blue: hsl(213, 9%, 39%);
$clr--dark-gray-blue: hsl(232, 10%, 55%);
$clr--footer: hsl(168, 44%, 70%);
$clr--footer-title: hsl(168, 45%, 32%);
$clr--nav-links: hsl(34, 100%, 99%);
